<div class="right-section">
    <div class="available-switch">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch">
            <label class="custom-control-label" for="customSwitch1">Available</label>
        </div>
    </div>
    <div class="card item-card active">
        <div class="card-body">
            <div class="avatar">
                <img src="assets/images/users/avatar-4.jpg" alt="">
                <span>4</span>
            </div>
            <div class="details">
                <h2>Ronald Richards</h2>
                <h3>in Nutrition</h3>
            </div>
            <p class="more">...</p>
        </div>
    </div>
    <div class="card item-card">
        <div class="card-body">
            <div class="avatar">
                <img src="assets/images/users/avatar-5.jpg" alt="">
                <span>1</span>
            </div>
            <div class="details">
                <h2>Esther Howard</h2>
                <h3>in Nutrition</h3>
            </div>
            <p class="more">...</p>
        </div>
    </div>
    <div class="card item-card">
        <div class="card-body">
            <div class="avatar">
                <img src="assets/images/users/avatar-6.jpg" alt="">
                <!-- <span>4</span> -->
            </div>
            <div class="details">
                <h2>Kristin Watson</h2>
                <h3>in Yoga</h3>
            </div>
            <p class="more">...</p>
        </div>
    </div>
    <div class="card item-card">
        <div class="card-body">
            <div class="avatar">
                <img src="assets/images/users/avatar-7.jpg" alt="">
                <!-- <span>4</span> -->
            </div>
            <div class="details">
                <h2>Cameron Williamson</h2>
                <h3>in Nutrition</h3>
            </div>
            <p class="more">...</p>
        </div>
    </div>
    <div class="card item-card">
        <div class="card-body">
            <div class="avatar">
                <img src="assets/images/users/avatar-8.jpg" alt="">
                <!-- <span>4</span> -->
            </div>
            <div class="details">
                <h2>Ralph Edwards</h2>
                <h3>in Yoga</h3>
            </div>
            <p class="more">...</p>
        </div>
    </div>
    <div class="card item-card">
        <div class="card-body">
            <div class="avatar">
                <img src="assets/images/users/avatar-1.jpg" alt="">
                <!-- <span>4</span> -->
            </div>
            <div class="details">
                <h2>Bessie Cooper</h2>
                <h3>in Nutrition</h3>
            </div>
            <p class="more">...</p>
        </div>
    </div>
    <div class="card item-card">
        <div class="card-body">
            <div class="avatar">
                <img src="assets/images/users/avatar-2.jpg" alt="">
                <!-- <span>4</span> -->
            </div>
            <div class="details">
                <h2>Albert Flores</h2>
                <h3>in Yoga</h3>
            </div>
            <p class="more">...</p>
        </div>
    </div>
    <input type="text" name="search" id="" placeholder="Search patient">
</div>