<div class="container main-general-dashboard">
    <section class="container-fluid general-dashboard font-family">
        <div class="col-md-12 font-family">
            <div class="row">
                <div class="col-md-5 font-family">
                    <h1 class="head">Next upcoming Session</h1>

                    <div class="appoinment font-family">
                        <h3 class="your-next-appoinment">Your next appointment</h3>
                        <div class="img-content">
                            <img class="rounded-circle dp" src="assets/images/ronald.png">
                            <h3 class="name">Dr. Ronald Richards</h3>
                            <p class="designation">Health Coach, Therapist, New York</p>
                        </div>

                        <div class="about">
                            <h1 class="talk">Talk about family...</h1>
                            <div class="sub-main-head">
                                <h5 class="sub-head">Included</h5>
                                <p class="time">30 min</p>
                            </div>
                            <div class="sub-main-head1">
                                <h5 class="sub-head1">2 March</h5>
                                <p class="time1">10:30 am</p>
                            </div>
                        </div>

                        <div class="submission">
                            <button type="button" [routerLink]="['/homepage/browse-practitioner']" class="btn-block btn btn-warning btn-rounded">
                                <p class="btn-text"> &nbsp;Message </p>
                            </button>
                        </div>
                        <div class="contact">
                            <img class="rounded-circle call-icon" src="assets/images/phone_call_icon.png">
                            <img class="rounded-circle video-icon" src="../../../assets/v2/video.svg" alt="dahsboard">
                        </div>
                    </div>
                </div>

                <div class="col-md-7 font-family">
                    <h1 class="chat">Chats</h1>
                    <h1 class="see">see all chats →</h1>

                    <div class="chat-list">
                        <div class="sub-chat">
                            <h5 class="chat-head">2 March</h5>
                            <p class="chat-time">10:30 am</p>
                        </div>

                        <div class="img-content1">
                            <img class="rounded-circle dp1" src="assets/images/ronald.png">
                            <h3 class="name1">Dr. Ronald Richards</h3>
                            <p class="designation1">Health Coach, Therapist, New York</p>
                        </div>

                        <div class="round">
                            <img class="msg" src="../../../assets/v2/chat.svg" alt="dahsboard">
                        </div>

                        <button type="button" [routerLink]="['/homepage/browse-practitioner']" class="btn-box btn btn-warning btn-rounded">
                            <p class="btn-arrow"> &nbsp; <i class="fa fa-arrow-right"></i> </p>
                        </button>

                    </div>

                    <div class="chat-list1">
                        
                        <div class="sub-chat1">
                            <h5 class="chat-head1">2 March</h5>
                            <p class="chat-time1">10:30 am</p>
                        </div>

                        <div class="img-content2">
                            <img class="rounded-circle dp2" src="assets/images/ronald.png">
                            <h3 class="name2">Dr. Ronald Richards</h3>
                            <p class="designation2">Health Coach, Therapist, New York</p>
                        </div>

                        <div class="round1">
                            <img class="msg1" src="../../../assets/v2/chat.svg" alt="dahsboard">
                        </div>

                        <button type="button" [routerLink]="['/homepage/browse-practitioner']" class="btn-box1 btn btn-warning btn-rounded">
                            <p class="btn-arrow1"> &nbsp; <i class="fa fa-arrow-right"></i> </p>
                        </button>

                    </div>

                    <div class="chat-list2">
                        
                        <div class="sub-chat1">
                            <h5 class="chat-head1">2 March</h5>
                            <p class="chat-time1">10:30 am</p>
                        </div>

                        <div class="img-content2">
                            <img class="rounded-circle dp2" src="assets/images/ronald.png">
                            <h3 class="name2">Dr. Ronald Richards</h3>
                            <p class="designation2">Health Coach, Therapist, New York</p>
                        </div>

                        <div class="round1">
                            <img class="msg1" src="../../../assets/v2/chat.svg" alt="dahsboard">
                        </div>

                        <button type="button" [routerLink]="['/homepage/browse-practitioner']" class="btn-box1 btn btn-warning btn-rounded">
                            <p class="btn-arrow1"> &nbsp; <i class="fa fa-arrow-right"></i> </p>
                        </button>

                    </div>
                </div>


            </div>
        </div>
    </section>
    
    
    <section class="container-fluid general-dashboard1 font-family">
        <div class="col-md-12 font-family banner">
            <div class="row">
                <div class="col-md-5 yoga-content">
                    <h1 class="interest">Interests</h1>
                    <h1 class="see1">see all →</h1>
                    <div class="interest-list">
                    <img class="yoga" src="assets/images/shutterstocked.jfif">
                        <div class="card-yoga">
                            <h1 class="dot">...</h1>
                            <h1 class="head-yoga">Yoga, Meditation</h1>
                            <p class="para1">mindfullness | happiness | stillness</p>
                        </div>

                        <div class="yoga-content1">
                            <img class="yoga1" src="assets/images/shutterstocked.jfif">
                                <div class="card-yoga1">
                                    <h1 class="dot1">...</h1>
                                    <h1 class="head-yoga1">Healthy Food</h1>
                                    <p class="para2">mindfulness | happiness | stillness</p>
                                </div>
                        </div>
                        <button type="button" [routerLink]="['/homepage/browse-practitioner']" class="btn-block1 btn btn-warning btn-rounded">
                    <p class="btn-text1"> &nbsp;+ Add New Interest </p>
                  </button>
                  </div>
                </div>



                <div class="col-md-7 font-family graph">
                    <h1 class="graph-head">Time spent in the platform</h1>
                    <h1 class="share">Share</h1>
                    <h1 class="mood">My MoodMeter</h1>
                    <img class="codepen" src="assets/images/code pen.png">
                    <div class="graphi">
                        <div class="mon">
                            <img class="rect1" src="assets/images/rectangle.png">
                            <p class="mu">Mo</p>
                        </div>
                        <div class="tue">
                            <img class="rect2" src="assets/images/rectangle.png">
                            <p class="tu">Tu</p>
                        </div>
                        <div class="wed">
                            <img class="rect3" src="assets/images/rectangle.png">
                            <p class="we">We</p>
                        </div>
                        <div class="thu">
                            <img class="rect4" src="assets/images/rectangle.png">
                            <p class="th">Th</p>
                        </div>
                        <div class="sat">
                            <img class="rect5" src="assets/images/rectangle.png">
                            <p class="sa">Sa</p>
                        </div>
                        <div class="sun">
                            <img class="rect6" src="assets/images/rectangle.png">
                            <p class="su">Su</p>
                        </div>
                        <div class="mon1">
                            <img class="rect7" src="assets/images/rectangle.png">
                            <p class="mo1">Mo</p>
                        </div>
                        <div class="tue1">
                            <img class="rect8" src="assets/images/rectangle.png">
                            <p class="tu1">Tu</p>
                        </div>
                        <div class="wed1">
                            <img class="rect9" src="assets/images/rectangle.png">
                            <p class="we1">We</p>
                        </div>
                        <div class="thu1">
                            <img class="rect10" src="assets/images/rectangle.png">
                            <p class="th1">Th</p>
                        </div>
                        <div class="sat1">
                            <img class="rect11" src="assets/images/rectangle.png">
                            <p class="sa1">Sa</p>
                        </div>
                        <div class="sun1">
                            <img class="rect12" src="assets/images/rectangle.png">
                            <p class="su1">Su</p>
                        </div>
                    

                        <div class="emoji">
                            <img class="emoji-img" src="assets/images/emojis.png">
                            <p class="sub-head7">Latest</p>
                        </div>

                        <div class="emoji1">
                            <img class="emoji-img1" src="assets/images/in-love.png">
                            <p class="sub-head8">Previous to Latest</p>
                        </div>

                    </div>

                    <div class="last-box">
                        <div class="session">
                            <h5 class="session-head">This month</h5>
                            <h1 class="sess">Sessions</h1> 
                            <p class="sess-list">2 new sessions</p>
                            <div class="round-up">
                                <img class="up-arrow" src="assets/images/arrow_button-up.png">
                            </div>
                            <p class="no1">+32%</p>
                        </div>

                        <div class="session1">
                            <h1 class="sess1">Check-ins</h1> 
                            <p class="sess-list1">6 mood check-ins</p>
                            <img class="down-arrow" src="assets/images/arrow_button_down.png">
                            <p class="no2">-12%</p>
                        </div>

                        <div class="session2">
                            <h1 class="sess2">Chats</h1> 
                            <p class="sess-list2">32 chats</p>
                            <img class="up-arrow1" src="assets/images/arrow_button-up.png">
                            <p class="no3">+69%</p>
                        </div>

                    </div>

                </div>



            </div>
        </div>
    </section>
</div>