<app-public-navbar></app-public-navbar>

<div class="container-fluid">
    <section class="landing-footer">
        <div class="col-12 ">
            <div class="text-center">
                <p class="aboutus">About Us</p>
                <h1 class="mission-p"> What is Healplace and
                    <br>what we do?
                </h1>
                <p class="about-inner">Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no
                    suscipit<br>
                    quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit<br>
                    mentitum.</p>
                <div class="row justify-content-center m-auto">
                    <div class="col-md-4">
                        <button type="button" class="btn  customer-btn" id="Btncustomer">
                            PlaceHolder &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <div class="row" style="background:#FAFAFA;padding-top: 100px;">
        <p class="ourexpertise m-auto">Our top expertises!</p>
    </div>
    <p class=" ourexpertise-in m-auto pt-20">
        Et has minim elitr intellegat. Mea aeterno eleifend antiopam <br>ad, nam suscipit quaerendum.
    </p>

    <div id="carouselExampleControls" class="carousel slide pb-5 py-3">
        <div class="col-md-12 pb-5">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/meditation1.jfif" class="d-block  imgheight" alt="">
                            <div class="container4">
                                <h2 class="carosuel-h2">Meditation</h2>
                                <p class="carosuel-p1">Meditation Coach Life Coach...</p>
                                <p class="carosuel-p2">18 specialities | 120 practitioners</p>
                                <button type="button" [routerLink]="['']" class="btn  carosuel-btn">
                                    &nbsp; Discover<i class="fa fa-arrow-right" style="margin-left: 10px;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/shutter.jfif" class="d-block  imgheight" alt="">
                            <div class="container4">
                                <h2 class="carosuel-h2">Family</h2>
                                <p class="carosuel-p1">Meditation Coach Life Coach...</p>
                                <p class="carosuel-p2">18 specialities | 120 practitioners</p>
                                <button type="button" [routerLink]="['']" class="btn  carosuel-btn">
                                    &nbsp; Discover<i class="fa fa-arrow-right" style="margin-left: 10px;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/health.jfif" class="d-block  imgheight" alt="">
                            <div class="container4">
                                <h2 class="carosuel-h2">Health</h2>
                                <p class="carosuel-p1">Meditation Coach Life Coach...</p>
                                <p class="carosuel-p2">18 specialities | 120 practitioners</p>
                                <button type="button" [routerLink]="['']" class="btn  carosuel-btn">
                                    &nbsp; Discover<i class="fa fa-arrow-right" style="margin-left: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/meditation1.jfif" class="d-block  imgheight" alt="">
                            <div class="container4">
                                <h2 class="carosuel-h2">Meditation</h2>
                                <p class="carosuel-p1">Meditation Coach Life Coach...</p>
                                <p class="carosuel-p2">18 specialities | 120 practitioners</p>
                                <button type="button" [routerLink]="['']" class="btn  carosuel-btn">
                                    &nbsp; Discover<i class="fa fa-arrow-right" style="margin-left: 10px;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/shutter.jfif" class="d-block  imgheight" alt="">
                            <div class="container4">
                                <h2 class="carosuel-h2">Meditation</h2>
                                <p class="carosuel-p1">Meditation Coach Life Coach...</p>
                                <p class="carosuel-p2">18 specialities | 120 practitioners</p>
                                <button type="button" [routerLink]="['']" class="btn  carosuel-btn">
                                    &nbsp; Discover<i class="fa fa-arrow-right" style="margin-left: 10px;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/health.jfif" class="d-block  imgheight" alt="">
                            <div class="container4">
                                <h2 class="carosuel-h2">Meditation</h2>
                                <p class="carosuel-p1">Meditation Coach Life Coach...</p>
                                <p class="carosuel-p2">18 specialities | 120 practitioners</p>
                                <button type="button" [routerLink]="['']" class="btn  carosuel-btn">
                                    &nbsp; Discover<i class="fa fa-arrow-right" style="margin-left: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="spn-arrow-left"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="spn-arrow-right"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



</div>

<div class="container-fluid">
    <section class="dvtiles hero-section bg-ico-hero">
        <div class="col-12 ">
            <div class="text-center">
                <h1 class="mission-p"> Don’t know where to <br>
                    start? No worries...</h1>
                <p class="about-inner-tile">Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no
                    suscipit<br>
                    quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit<br>
                    mentitum.</p>

            </div>
            <div class="container5 container">
                <div class="row dvtile-blue">

                    <div class="col-md-7 dvwhite-text" style="text-align: left;">
                        <div class="">
                            <h2 class="dvcutom-h2">Dealing with anxiety</h2>
                            <p class="dvcustom-p">
                                Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit
                                quaerendum.
                                At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.
                            </p>
                            <button style="width: 199px;
                                                            height: 30px;font-family: FF Mark Pro;font-style: normal;
                                                            font-weight: bold;font-size: 16px;line-height: 20px;
                                                            color: #FFFFFF;background: #00b1d2;border-radius: 40px;
                                                            border: 0;text-align: center;margin-left: 15px;">
                                Create account
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="col-md-3 col-md-offset-3">
                            <div>
                                <div class="custom-tile-1">
                                    <img class="custom-img-1" src="assets/images/homepage/icon-3.png">
                                    <span class="custom-spn">
                                        Can I ask you what’s <br>
                                        bothering you?
                                    </span>
                                </div>
                                <div class="custom-tile-2">
                                    <img class="custom-img-1" src="assets/images/homepage/icon-3.png">
                                    <span class="custom-spn">
                                        Hi, I have a very bad day today... <br>What should I do?
                                    </span>
                                </div>
                                <div class="custom-tile-3">
                                    <img class="custom-img-1" src="assets/images/homepage/icon-3.png">
                                    <span class="custom-spn">
                                        Can I ask you what’s <br>
                                        bothering you?
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container5 container">
                <div class="row dvtile-blue">
                    <div class="col-md-4 dvwhite">
                        <img class="img-fluid rounded-circle" src="assets/images/homepage/icon-1.png"
                            alt="Header Avatar">
                    </div>
                    <div class="col-md-7 dvwhite-text" style="text-align: right;">
                        <div class="" style="padding-right: 50px;">
                            <h2 class="dvcutom-h2">Dealing with anxiety</h2>
                            <p class="dvcustom-p">
                                Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit
                                quaerendum.
                                At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit mentitum.
                            </p>
                            <button style="width: 199px;
                                                        height: 30px;font-family: FF Mark Pro;font-style: normal;
                                                        font-weight: bold;font-size: 16px;line-height: 20px;
                                                        color: #FFFFFF;background: #00b1d2;border-radius: 40px;
                                                        border: 0;text-align: right;margin-right: 0px;">
                                Create account
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <div class="container-fluid pt-5">

        <h1 class="text-center platform-h1">Watch this video to find<br> more about healplace! platform for you!
        </h1>
        <h3 class="platform-h1" style="font-size: 16px;line-height: 20px;">
            Et has minim elitr intellegat. Mea aeterno eleifend antiopam <br> ad, nam suscipit
            quaerendum.
        </h3>


        <div class="text-center justify-content-center">
            <img class="img-fluid" src="assets/images/homepage/video.png" class="rounded text-center img-whp">
        </div>


        <p class="text-center" style="
                height: 120px;font-family: FF Mark Pro;font-style: normal;
                font-weight: normal;font-size: 16px;line-height: 20px;
                text-align: center;color: #000000;">Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laborisnisi
            ut aliquip
            ex ea <br>
            commodo consequat. Ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad<br>
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br>
            consequat. Ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>


        <div class="container ">
            <div class="col-md-3" style="right: 110px;">
                <img class="img-left" src="assets/images/homepage/left.png" style="position: absolute;">
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3" style="float: right;left: 30px;">
                <img class="" src="assets/images/homepage/right.png" style="
                    position: absolute;top: -135px;">
            </div>
        </div>





    </div>

   

</div>
<section style="padding-top:120px;">
    <div class="container-fluid" style="position: relative;">
        <div class="">
            <div class="about-bg">
                <p class="pcontent-about">
                    Lorem ipsum dolor sit amet eam quas malorum <br>accusam
                </p>
                <p class="pcontent-about-child">
                    Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad,
                    nam no suscipit<br> quaerendum. At nam minimum ponderum. Est audiam animal molestiae te.
                </p>
                <div class="email">
                    <input type="email" placeholder="e-mail address" class="email-custom form-control">
                </div>
                <button _ngcontent-abn-c120="" class="button button4" style="position: absolute;top: 300px;right: 470px;width: 130px;">Submit</button>
                <div class="mt-4 mb-3">
                    <h4 style="color:#303030; font-size: 12px;">By
                        clicking “Primary
                        action” you accepting ipsum dolor sit amet, sit ea brute <br>mediocritatem, eu sed
                        aliquam scripserit
                        dissentiunt.</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<app-public-footer></app-public-footer>