.first-page {
    padding-top: 40px;
    padding-right: 103px;
    padding-bottom: 103px;
    padding-left: 180px;
}
.hello{
    font-family: BelyDisplayW00-Regular;
    font-style: normal;
    font-size: 24px;
    line-height: 45px;
    color: #00BAD5;
    font-weight: 800;
}
.name{
    font-family: FF Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #303030;
}
.mark {
    background: #FFFFFF;
    border: 2px solid #074D63;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: FF Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 25px;
    color: #074D63;
}