<div class="container" style="background-color: #FFF;">
    <div class="row">
        <div class="col-md-4 font-family">
            <h1 class="head pt-4">Next Sessions</h1>
            <div class="appoinment font-family">
                <h3 class="your-next-appoinment">Your next appointment</h3>
                <div class="img-content">
                    <img class="rounded-circle dp" src="assets/images/ronald.png">
                    <h3 class="name">Dr. Ronald Richards</h3>
                    <p class="designation">in Nutrition</p>
                </div>
                <div class="about">
                    <h1 class="talk">Talk about family...</h1>
                    <div class="sub-main-head">
                        <h5 class="sub-head">2 March</h5>
                        <p class="time">10:30 am </p>
                    </div>
                    <div class="sub-main-head1">
                        <h5 class="sub-head">Free</h5>
                        <p class="time1">30 min</p>
                    </div>
                </div>
                <div class="submission">
                    <button type="submit" class="btn btn-custom" [routerLink]="['/homepage/browse-practitioner']">
                        Send Message <span class="pl-2 pr-2"> <i class=" fa fa-arrow-right"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 font-family">
            <div class="appoinment font-family app-second">
                <h3 class="your-next-appoinment">Your next appointment</h3>
                <div class="img-content">
                    <img class="rounded-circle dp" src="assets/images/ronald.png">
                    <h3 class="name">Dr. Ronald Richards</h3>
                    <p class="designation">in Nutrition>
                </div>
                <div class="about">
                    <h1 class="talk">Talk about family...</h1>
                    <div class="sub-main-head">
                        <h5 class="sub-head">Included</h5>
                        <p class="time">30 min</p>
                    </div>
                    <div class="sub-main-head1">
                        <h5 class="sub-head">2 March</h5>
                        <p class="time1">10:30 am</p>
                    </div>
                </div>

                <div class="submission">
                    <button type="submit" class="btn btn-custom" [routerLink]="['/homepage/browse-practitioner']">
                        Send Message <span class="pl-2 pr-2"> <i class=" fa fa-arrow-right"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="right-section">
                <div class="available-switch">
                    <div class="custom-control custom-switch"> 
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"><label style="padding-left: 55px;padding-top: 2px;">Available</label></span>
                          </label>
                    </div>
                </div>
                <div class="card item-card active">
                    <div class="card-body">
                        <div class="avatar">
                            <img src="assets/images/users/avatar-4.jpg" alt="">
                            <span>4</span>
                        </div>
                        <div class="details">
                            <h2>Ronald Richards</h2>
                            <h3>in Nutrition</h3>
                        </div>
                        <p class="more">...</p>
                    </div>
                </div>
                <div class="card item-card">
                    <div class="card-body">
                        <div class="avatar">
                            <img src="assets/images/users/avatar-5.jpg" alt="">
                            <span>1</span>
                        </div>
                        <div class="details">
                            <h2>Esther Howard</h2>
                            <h3>in Nutrition</h3>
                        </div>
                        <p class="more">...</p>
                    </div>
                </div>
                <div class="card item-card">
                    <div class="card-body">
                        <div class="avatar">
                            <img src="assets/images/users/avatar-6.jpg" alt="">
                            <!-- <span>4</span> -->
                        </div>
                        <div class="details">
                            <h2>Kristin Watson</h2>
                            <h3>in Yoga</h3>
                        </div>
                        <p class="more">...</p>
                    </div>
                </div>
                <div class="card item-card">
                    <div class="card-body">
                        <div class="avatar">
                            <img src="assets/images/users/avatar-7.jpg" alt="">
                            <!-- <span>4</span> -->
                        </div>
                        <div class="details">
                            <h2>Cameron Williamson</h2>
                            <h3>in Nutrition</h3>
                        </div>
                        <p class="more">...</p>
                    </div>
                </div>
                <div class="card item-card">
                    <div class="card-body">
                        <div class="avatar">
                            <img src="assets/images/users/avatar-8.jpg" alt="">
                            <!-- <span>4</span> -->
                        </div>
                        <div class="details">
                            <h2>Ralph Edwards</h2>
                            <h3>in Yoga</h3>
                        </div>
                        <p class="more">...</p>
                    </div>
                </div>
                <div class="card item-card">
                    <div class="card-body">
                        <div class="avatar">
                            <img src="assets/images/users/avatar-1.jpg" alt="">
                            <!-- <span>4</span> -->
                        </div>
                        <div class="details">
                            <h2>Bessie Cooper</h2>
                            <h3>in Nutrition</h3>
                        </div>
                        <p class="more">...</p>
                    </div>
                </div>
                <div class="card item-card">
                    <div class="card-body">
                        <div class="avatar">
                            <img src="assets/images/users/avatar-2.jpg" alt="">
                            <!-- <span>4</span> -->
                        </div>
                        <div class="details">
                            <h2>Albert Flores</h2>
                            <h3>in Yoga</h3>
                        </div>
                        <p class="more">...</p>
                    </div>
                </div>
                <input type="text" name="search" id="" placeholder="Search patient">
            </div>
        </div>
    </div>
    <div class="" style="position: absolute;top: 50%;width: 80%;">
        <div class="col-md-8 font-family">
            <div>
                <h1 class="head-up pt-4"> 
                    <a href="#" class="btn session-font">Upcoming Sessions</a>
                </h1>
                <h1 class="head-up" style="margin-left: 150px;margin-top: -7px;"> 
                    <a href="#" class="btn session-font">Completed Sessions</a>
                </h1>
            </div>
           
            <div class="app-session font-family">
                <div class="row tile">
                    <div class="col-md-2">
                        <h5 class="sub-head">2 March</h5>
                        <p class="">10:30 am</p>
                    </div>
                    <div class="col-md-2">
                        <h5 class="sub-head">Free</h5>
                        <p class="">10:30 am</p>
                    </div>
                    <div class="col-md-4"><img src="assets/images/ronald.png" class="rounded-circle dp-tile">
                        <h3 class="name">Dr. Ronald Richards</h3>
                        <p class="ml-1 designation">in Nutrition</p>
                    </div>
                    
                    <div class="col-md-4"><button class="btn-custom-message" style="background-color: #00BAD5;" (click)="ShowPopup('0')">
                        Change Status</button></div>

                    <div class="change-status-popup"   *ngIf="hideMessage[0]">
                        <p class="text-center">Change Status
                            <button type="button" class="close" aria-label="Close" (click)="closeMessage('0')">
                            <span aria-hidden="true">&times;</span>
                          </button></p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn-success btn-custom-message">Approve</button>
                        </p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn-danger btn-custom-message">Decline</button>
                        </p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn btn-warning btn-custom-message">Re-Schedule</button>
                        </p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn-secondary btn-custom-message">Message</button>
                        </p>
                    </div>

                </div>
            </div>
            <div class="app-session font-family ">
                <div class="row tile top-custom">
                    <div class="col-md-2">
                        <h5 class="sub-head">2 March</h5>
                        <p class="">10:30 am</p>
                    </div>
                    <div class="col-md-2">
                        <h5 class="sub-head">Free</h5>
                        <p class="">10:30 am</p>
                    </div>
                    <div class="col-md-4"><img src="assets/images/ronald.png" class="rounded-circle dp-tile">
                        <h3 class="name">Dr. Ronald Richards</h3>
                        <p class="ml-1 designation">in Nutrition</p>
                    </div>
                    <div class="col-md-4"><button class="btn-custom-message" style="background-color: #00BAD5;" (click)="ShowPopup('1')">Change Status</button></div>
                    
                    <div class="change-status-popup" *ngIf="hideMessage[1]">
                        <p class="text-center">Change Status
                            <button type="button" class="close" aria-label="Close" (click)="closeMessage('1')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn-success btn-custom-message">Approve</button>
                        </p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn-danger btn-custom-message">Decline</button>
                        </p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn btn-warning btn-custom-message">Re-Schedule</button>
                        </p>
                        <p class="p-align-popup">
                            <button style="width:120px;" class="btn btn-secondary btn-custom-message">Message</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 font-family">
            
        </div>
        <div class="mt-4 mb-5 text-center">
            <a href="#" class="btn" style="background: #FAFAFA;border-radius: 20px;">Load More<span class="pl-2 pr-2">
                    <i class=" fa fa-arrow-right"></i></span> </a>
        </div>
    </div>
</div> 