.chat-section{
    margin: 0px 0px 0px auto;
    height: 600px;
    background: #ffffff;
    .p-20{
        padding: 20px;
    }
    .pt-35{
        padding-top: 35px;
    }
    .pt-30{
        padding-top: 30px;
    }
    .pl-30{
        padding-left: 30px;
    }
    .mb-0{
        margin-bottom: 0px !important;
    }
    .mt-35{
        margin-top: 35px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .left{
        padding-left: 110px;
        .chat-box-container {
            height: 500px;
            overflow-y: scroll;
            position: relative;
        }
        .dot-section:hover{
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .send-msg:hover + .dot-section{
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .send-message:hover + .dot-section{
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .msg-hover {
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .action-popover {
            text-align: center;
            p{
                margin-bottom: 0px;
                padding: 10px;
            }
        }
        .chat-send{
            .dot-section{
            float: right;
                padding-left: 10px;
                padding-top: 15px;
                margin-top: 40px;
                margin-left: 5px;
                cursor: pointer;
            }
        }
        .chat-receive{
            .dot-section{
                padding-left: 10px;
                padding-top: 15px;
                margin-top: 40px;
                margin-left: 5px;
                cursor: pointer;
                float: left;
            }
        }
        .send-msg{
            background: #FAFAFA;
            padding: 15px 15px 0px 15px;
            margin-top: 15px;
            float: right;
            max-width: 600px;
            border-radius: 20px 0px 20px 20px;
            .send-message{
                font-family: 'FF Mark Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            padding: 10px;
            color: #6D6D6D;
            p{
                margin-bottom: 0px;
                text-align: right;
            }
            }
        }
        .receive-msg{
            background: #FFF4E3;
            padding: 15px 15px 0px 15px;
            margin-top: 15px;
            float: left;
            max-width: 600px;
            border-radius: 0px 20px 20px 20px;
            .msg-text{
                font-family: 'FF Mark Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            padding: 10px;
            margin-bottom: 0px;
    padding-top: 0px;
            color: #074D63;
            p{
                margin-bottom: 0px;
                text-align: right;
            }
            .updloaded-file {
                text-decoration: underline !important;
            }
            }
        }
        .chat-bottom{
            padding: 20px 20px 30px 30px;
            position: absolute;
            width: 100%;
            bottom: 0px;
            .text-section{
                background: #FAFAFA;
                border-radius: 20px;
                position: relative;
                .emoji-section {
                    position: absolute;
                    z-index: 1;
                    bottom: 50px;
                    right: 0px;
                }
            }
            textarea{
                background: #FAFAFA;
                border: none;
                font-family: 'FF Mark Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #6D6D6D;
                padding: 30px 10px;
                border-radius: 20px;
            }
            .folder{
            text-align: center;
            margin-left: 20px;
            background: #FAFAFA;
            border-radius: 20px;
              .file-upload {
                  display: none;
              }
            }
        }
    }
    .right{
        overflow-y: scroll;
        height: 85vh;
        background: #FAFAFA;
        border-radius: 40px 0px 0px 40px;
        .practitioner-list-container {
            height: 300px;
            overflow-y: scroll;
        }
    .practitioner-list:hover {
        background: #ECECEC;
        .p-dot{
            display: block;
            height: 20px;
            margin-top: 10px;
        }
    }
    .practitioner-list:hover + .p-dot{
        display: block;
        margin-top: 10px;
        height: 20px;
    }
    .p-dot:hover{
        height: 20px;
        margin-top: 10px;
        display: block;
    }
    .practitioner-list{
        border-radius: 40px;
        width: 319px;
        height: 100px;
    }
    .p-dot{
        height: 20px;
        margin-top: 10px;
        display: none;
        cursor: pointer;
    }
    .search{
        height: 48px;margin: 0px auto;
        font-family: 'FF Mark Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #074D63;
        border-radius: 10px;
        background: #ffffff;
        width: 315px;
    }
    .margin-auto{
        margin: 0px auto;
    }
    .pinned-msg{
        font-family: 'FF Mark Pro';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #074D63;
            padding: 10px 0px 5px 30px;
            line-height: 18px;
    }
    .pinned-msg-div{
        background: #FFFFFF;
            border-radius: 40px;
            margin: 0px auto;
            width: 320px;
            margin-bottom: 10px;
    }
    .from{
        font-family: 'FF Mark Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        margin-bottom:0px;
        color: #074D63;
        line-height: 15px;
    }
    .pin-msg-title{
        font-family: 'FF Mark Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #074D63;
        margin-bottom:0px;
        line-height: 20px;
    }
    .pin-msg-content{
        font-family: 'FF Mark Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #6D6D6D;
        margin-bottom:0px;
        line-height: 16px;
    }
    .status-img{
        width: 12px;height: 12px;position: absolute;
    }
    .profile-pic{
        width: 40px;
                    height: 40px;
    }
    .profile-name{
        font-family: 'FF Mark Pro';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    color: #074D63;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    line-height: 20px;
    }
    .profile-content{
        font-family: 'FF Mark Pro';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    color: #6D6D6D;
                    line-height: 16px;
    }
    }
}
.pin-msg{
    font-family: 'FF Mark Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #6D6D6D;
    cursor: pointer;
    
}
.chat-remove-confirm-modal{
    width: 848px;
    height: 558px;
    background: #FAFAFA;
    border-radius: 40px;
    padding:20px;
    .pt-10{
        padding-top: 10px;
    }
    .pl-20{
        padding-left: 20px;
    }
    .del-btn{
        width: 180px;
        height: 60px;
        background: #FBD036;
        border-radius: 20px;
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .cancel-btn{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #6D6D6D;
    }
    .circle-div{
        width: 40px;
    height: 40px;
    background: #fafafa;
    border-radius: 20px;
    text-align: center;
    }
    .details-section{
        padding: 20px;
    margin: 50px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    p{
        margin-bottom: 0px;
    }
    }
    .title{
        font-family: BelyDisplayW00-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
        padding-top: 70px;
    }
    .content{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
    }
    .chat-in{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .name{
        font-family: BelyDisplayW00-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #00BAD5;
    }
    .sub-title{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .sub-content{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
}
.practitioner-popover{
    .notes{
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline !important;
        color: #6D6D6D;
    }
    hr{
        margin: 10px 25px;
    }
    .row{
        background-color: none;
    }
    .p-30{
        padding: 30px;
    }
    p{
        margin-bottom: 0px;
    }
    .pl-10{
        padding-left: 10px;
    }
    .pr-10{
        padding-right: 10px;
    }
    .title{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #074D63;
    }
    .content{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .sub-title{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        padding-left: 15px;
        color: #6D6D6D;
    }
    .sub-content{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #6D6D6D;
    }
}
.action-popover {
    width: 125px !important;
}
.spinner {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.updloaded-file {
    text-decoration: underline !important;
}