<div class="container-fluid">
    <section class="container-fluid main-banner">
      <div class="col-md-12 font-family yoga-style text-center">

        <!-- 1st row -->

        <div class="row">
          <div class="col-md-12 font-family yoga-content">
          <div class="col-sm font-family yoga-banner" style="float: left;">
            <img class="yoga" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Yoga</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>



          <div class="col-sm font-family yoga-banner1" style="float: left;">
            <img class="yoga1" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Meditation</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>




        <div class="col-sm font-family yoga-banner2" style="float: left;">
            <img class="yoga2" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Health cochingt</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>


        </div>
        </div>


        <!-- 2nd row  -->


        <div class="row">
          <div class="col-md-12 font-family yoga-content1">
          <div class="col-sm font-family yoga-banner" style="float: left;">
            <img class="yoga" src="images/y1.jpg">
              <div class="card-yoga1">
                <img class="tick" src="images/image2.png">
                <h1 class="head-yoga">Mental Health Theraphy</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>



          <div class="col-sm font-family yoga-banner1" style="float: left;">
            <img class="yoga1" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Nuetritiont</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>




        <div class="col-sm font-family yoga-banner2" style="float: left;">
            <img class="yoga2" src="images/y1.jpg">
              <div class="card-yoga">
                <img class="tick" src="images/image2.png">
                <h1 class="head-yoga">Functional Medicine</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>


        </div>
        </div>




        <!-- 3rd row  -->


        <div class="row">
          <div class="col-md-12 font-family yoga-content2">
          <div class="col-sm font-family yoga-banner" style="float: left;">
            <img class="yoga" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Physical Theraphy</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>



          <div class="col-sm font-family yoga-banner1" style="float: left;">
            <img class="yoga1" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Relationship Coaching</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>




        <div class="col-sm font-family yoga-banner2" style="float: left;">
            <img class="yoga2" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Yoga Meditation</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>


        </div>
        </div>




        <!-- 4th row -->


        <div class="row">
          <div class="col-md-12 font-family yoga-content3">
          <div class="col-sm font-family yoga-banner" style="float: left;">
            <img class="yoga" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Yoga Meditation</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>



          <div class="col-sm font-family yoga-banner1" style="float: left;">
            <img class="yoga1" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Yoga Meditation</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>




        <div class="col-sm font-family yoga-banner2" style="float: left;">
            <img class="yoga2" src="images/y1.jpg">
              <div class="card-yoga">
                <h1 class="head-yoga">Yoga Meditation</h1>
                <p class="para1">mindfullness | happiness | stillness</p>
              </div>
          </div>


        </div>
        </div>



      </div>




      <button type="button" [routerLink]="['/homepage/browse-practitioner']" class="btn-block btn btn-warning btn-rounded" style="display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 99px;

position: absolute;
width: 360px;
height: 60px;
left: 590px;
top: 830px;

/* Primary */

background: #00BAD5;
border-radius: 20px;">
                    <p class="btn-text"> &nbsp; Add Selected Interest(s) </p><i class="fa fa-arrow-right"></i>
                  </button>


                  <p class="last-text">Please Choose at Least One</p>




        


        
        



    </section>
  </div>