<app-public-navbar></app-public-navbar>
<div style="background-color: #fff;">
  <div class="container">
      <div class="row " style="padding-top:200px;">
          <div class="col-md-6" style="padding-left: 130px;">
              <img class="img-fluid img-left" src="assets/images/brooke.jfif" />
          </div>
          <div class="col-md-6">
              <div class="mt-n1" style="float:right;">
                  <p class="hiw-p">HOW IT WORKS</p>
                  <h3 class="hiw-h3 headings">Healplace is a<br>
                      healing <br>platform.</h3>
                  <h2 class="hiw-head-content">Lorem ipsum dolor sit amet,<br>
                      consectetur adipiscing elit, sed do<br>
                      eiusmod tempor incididunt ut labore<br>
                      et dolore magna aliqua.

                  </h2><br>
                  <button class="btn-align button btn-submit-1"><a routerLink="/homepage/home" 
                      style="color:#fff;"> Create
                          Account</a>
                  </button><br>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="img hiw-image-content">
          <div class="row">
              <div class="col-sm">
                  <img src="assets/images/image.png" style="width:55px; height: 55px;" />
                  <br><br>
                  <p style="margin-left: -23px;font-family:FF Mark Pro ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;
      ">Create account</p>
                  <p style="margin-left:-23px;font-family: FF Mark Pro; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;
      ">Lorem ipsum dolor sit amet,<br>
                      consectetur adipiscing elit, sed <br>
                      do eiusmod.</p>
              </div>

              <div class="col-sm">
                  <img src="assets/images/image2.png" style="width:55px; height: 55px;" />
                  <br><br>
                  <p
                      style="margin-left: -23px;font-family:FF Mark Pro ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;">
                      Find a practitioner</p>
                  <p
                      style="margin-left:-23px;font-family: FF Mark Pro; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;">
                      Lorem ipsum dolor sit amet, <br>
                      consectetur adipiscing elit, sed<br> do eiusmod.</p>
              </div>

              <div class="col-sm">
                  <img src="assets/images/image3.png" style="width:55px; height: 55px;" />
                  <br><br>
                  <p
                      style="margin-left: -23px;font-family:FF Mark Pro ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;">
                      Start session</p>

                  <p
                      style="margin-left:-23px;font-family: FF Mark Pro; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;">
                      Lorem ipsum dolor sit amet, <br>
                      consectetur adipiscing elit, sed<br> do eiusmod.</p>
              </div>
          </div>
      </div>
  </div>



  <div class="container pt-5 pb-5">
      <div class="row">
          <div class="col-md-4" style="padding-top:100px;padding-bottom: 80px;">
              <div class="mt-n1" style="float:left;">
                  <p style="color:#074D63; width: 128px; height: 20px; font-weight:bold;font-family: 
    FF Mark Pro;  font-style: normal;   font-size:16px; line-height:20px;">HOW IT WORKS</p>
                  <h3 style="color: #00BAD5; width: 301px; height:135px; margin-top:40px; font-weight: 400;
    Line-height :
  45px;Font-family: FF Mark Pro;
  Font-style: Bold;
  Font-size: 32px;">Healplace is a<br>
                      healing place.</h3>

                  <h2 style="Width:301px;Height:79px; Top: 215px; font-weight: 400; font-Style: normal;    font-Size: 
        16px;font-family: 
  FF Mark Pro;
        Line-height: 20px;color:Solid
  #000000;">Lorem ipsum dolor sit amet,<br>
                      consectetur adipiscing elit, sed <br>
                      do
                      eiusmod tempor incididunt<br> ut labore
                      et dolore magna <br>aliqua. Ut enim ad minim<br>
                      veniam.
                  </h2><br><br><br><br>
                  <button class="button button4" style="Width :180px; Height : 60px;border-Radius:20px;
                  background-color: #FBD036;color: #074D63; border: 0px solid #00BAD5; font-family: ff mark pro;Font-style: Bold;
              font-size: 16px;box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);">Join Now &nbsp; <i class="fa fa-arrow-right" style="color:#074D63;"></i>
                  </button><br>
              </div>
          </div>
          <div class="col-md-4">
              <img src="assets/images/Rectangle 166.png" style="padding-top: 37px;" />

          </div>
          <div class="col-md-4">
              <img src="assets/images/Rectangle 165.png" style="padding-top: 37px;" />
          </div>
      </div>
  </div>

  <div class="container-fluid text-center" style="background: #FAFAFA;">

      <p style="color:#074D63; padding-top: 100px;font-family:FF Mark Pro; font-Weight:700;font-Style:normal;font-size:16px;">About
          us</p>

      <h2 style="color: #00BAD5;Font-family: healspace font !important;
          font-size: 40px;line-height: 45px;font-weight: 400;text-align: center;">
          What is Healplace and<br>what we do?</h2>

      <p style="Font-family: FF Mark Pro;font-size: 16px;top:2543px;">
          Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit <br>
          quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit<br>
          mentitum.
      </p>
      <p class="btn-center">
              <button type="button" [routerLink]="['']" class="btn-block btn btn-warning btn-rounded "
              style="background-color: #00BAD5;text-align: center;width: 240px;
              height: 60px;border: 2px solid #00BAD5;
              box-shadow: 5px 15px 20px 0px rgb(0 0 0 / 15%);
              border-radius: 20px;">
              Join Now &nbsp; <i class="fa fa-arrow-right"></i>
          </button><br>
      </p>    
      
  </div>


</div>
<app-public-footer></app-public-footer>