
 

 <footer class="landing-footer" style="background-color:#00B2D3;"> 
  <div class="container padtop100"> 
    <div class="row">
     <div class="col-lg-6 ">
       <div class="footer_about_widget home6">
         <p class="text-white padbot50">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ullamco laboris nisi ut. </p>

         <div class="row mt-4" style="padding-bottom: 60px;">
           <div class="col-1 padright70">
             <div class="social-source text-center mt-3">
               <div class="avatar-xs mx-auto mb-3">
                                   <span class="avatar-title rounded-circle bg-warning font-size-40" style="font-size: 30px;">
                                     <i class="fab fa-facebook-f colorblue"></i>
                                   </span>
               </div>
             </div>
           </div>
           <div class="col-1 padright70">
             <div class="social-source text-center mt-3">
               <div class="avatar-xs mx-auto mb-3">
                                   <span class="avatar-title rounded-circle bg-warning1 font-size-20">
                                       <i class="mdi mdi-instagram colorblue"></i>
                                   </span>
               </div>
             </div>
           </div>
           <div class="col-1 padright70">
             <div class="social-source text-center mt-3">
               <div class="avatar-xs mx-auto mb-3">
                                   <span class="avatar-title rounded-circle bg-warning2 font-size-20">
                                       <i class="mdi mdi-twitter colorblue"></i>
                                   </span>
               </div>
             </div>
           </div>
         </div>
         <br>
         <p class="text-white"><b>Contact</b><br> 1853 Par Drive, Burbank Street, California, CA <br> +04 333 123 645 | hello@healspace.com</p>
         <!-- <p class="text-white"><b>Contact</b> 1853 Par Drive, Burbank Street, California, CA <br> +04 333 123 645 | hello@healspace.com</p> -->
         
       </div>
     </div>
     <div class="col-lg-6 pr0 pl0 border-line">
         <div class="col  serv ">
           <div class="row">
             <div class="col-lg-8" style="padding-left:75px;">
               <p class="text-white"><b>Customers</b></p>
               <p class="text-white"> Search | Register  | Dashboard</p>
               <br>
               <p class="text-white"><b>Practitioners</b></p>
               <p class="text-white"> <span [routerLink]="['/homepage/browse-practitioner']">Search</span> | Register  | <span [routerLink]="['/homepage/booking-page']">Booking</span> | <span [routerLink]="['/homepage/article']">Dashboard</span></p>
             </div>
             <div class="col-lg-4" style="padding-left: 70px;">
               <p class="text-white"><b>Useful Links</b></p>
               <p class="text-white"> Terms of use <br> Privacy Policy</p>
               <!-- <p class="text-white" [routerLink]="['/homepage/about-us']"> About us</p>
               <p class="text-white" [routerLink]="['/homepage/contact-us']"> Contact us</p> -->
               <br>
               <p class="text-white" [routerLink]="['/homepage/faq']"><b>FAQ</b></p>
             </div>
           </div><br>
             <p class="text-white" style="padding-left: 65px;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
         </div>
       </div>
   </div> 
   
  </div>
</footer>
   