.bg-color {
    
background-color:#FAFAFA !important;
}
.con-val{
	color: red;
}
.form-control{
    background: none;
    border: none;
}

.h1-align {
    font-family:healspace font !important;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
text-align: center;
color: #074D63;
}

.row-align {
    padding-top: 60px;
}

.img-align {
    height: 80px;
    width: 80px;
}

.p1-align {
    font-family:healspace font !important;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #074D63;
}
.p2-align {
    font-family:healspace font !important;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #074D63;
}

.card-palign {
    background: #e4e4e4;
//opacity: 0.05;
border-radius: 20px;
height: 90px;
padding:32px;
font-family: FF Mark Pro;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #6D6D6D;
}

.marginleft70 {
    margin-left: 70px;
}
.marbot100 {
    margin-bottom: 100px;
}

.btn-approve {
    align-items: center;
    color: #074D63;
    font-size: 16px;
    position: static;
    width: 150px;
    height: 60px;
    background: #FBD036;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
    border-radius: 20px;
    border: 0;
}

.btn-cancel {
    position: static;
}

.padtop50 {
    padding-top: 50px;
}
// NEW STYLES


.hr-align {
    background: #6D6D6D;
    opacity: 0.1;
    width: 650px;
}
.btn-align {
    text-align: right;
    margin-right: 17px;
}

.a-align {
    font-family: FF Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    background: #FAFAFA;
    height: 60px;
    border-radius: 60px;
    border-color: #074D63;
    width: 150px;
    padding: 10px 62px 10px 50px;
    color: #074D63;
    border: 1px solid #074D63;
}
.pt-custom-100 {
    padding-top: 100px;
}

.mar-left60 {
    margin-left: 60px;
}
.btn-confirm {
    width: 250px;
    padding: 0px;
}