<app-public-navbar></app-public-navbar>
<div class="" style="position:relative;">
  <div class="dv-about">

    <section class="landing-footer">
      <div class="col-12 ">
        <div class="text-center">
          <p class="aboutus">About Us</p>
          <h1 class="mission-p"> Our misson and what<br>
            we stand for</h1>
          <p class="about-inner">Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no
            suscipit<br>
            quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit<br>
            mentitum.</p>
        </div>
      </div>
    </section>

    <section class="section p-0" style="position:relative;">
      <div class="container">
        <div class="currency-price">
          <div class="row">
            <div class="col-md-4 ">
              <div class="card " style="box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);width: 280px;">
                <div class="card-body text-center">
                  <div class="round-circle">
                    <span class="number">1</span>
                  </div>
                  <label class="lbl-card">First Advantage</label>
                  <p class="mt-3 p-font-align">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card " style="box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);width: 280px;">
                <div class="card-body text-center">
                  <div class="round-circle">
                    <span class="number">2</span>
                  </div>
                  <label class="lbl-card">Second Advantage</label>
                  <p class="mt-3 p-font-align">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card " style="box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);width: 280px;">
                <div class="card-body text-center">
                  <div class="round-circle">
                    <span class="number">3</span>
                  </div>
                  <label class="lbl-card">Third Advantage</label>
                  <p class="mt-3 p-font-align">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      


    </section>

    <section>
      <div class="container-fluid">
        <div>
          <h1 class="text-center ">Healplace is the healing<br> platform for you!</h1>
        </div>
        <div>
          <h3 class="innercontent">
            Et has minim elitr intellegat. Mea aeterno eleifend antiopam <br> ad, nam suscipit quaerendum.
          </h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <img class="img-fluid" src="assets/images/homepage/video.png" class="rounded text-center img-whp">
      </div>
      <div class="container dvgrey">
			</div>
      <p class="text-center" style="
  height: 120px;
  font-family: FF Mark Pro;
  font-style: normal;
  /* background: lightcoral; */
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi ut aliquip ex ea <br>
        commodo consequat. Ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad<br>
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br>
        consequat. Ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>


      <div class="row justify-content-center">
        <div class="col-md-3">
          <img class="img-left" src="assets/images/homepage/left.png" style="position: absolute;">
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
          <img class="" src="assets/images/homepage/right.png" style="
      position: absolute;
      top: -135px;
  ">
        </div>
      </div>
    </section>

    <section class="section bg-white p-0" style="margin-top: -48px;">
      <div class="container">
        <div class="col-xl-10 mx-auto justify-content-center align-items-center mt-4" style="padding-top: 100px;">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
              <strong [innerHtml]="aboutUsDynamicObj?.section4Heading"></strong>
              <h4 style="
          font-style: Bold;
font-size: 16px;
position: static;
width: 128px;
height: 20px;
left: 0px;
top: 0px;
font-family: FF Mark Pro;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 20px 0px;">HOW IT WORKS</h4>
              <h2 style="color: #00BAD5;
position: static;
width: 340px;
height: 90px;
font-family:healspace font !important;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
color: #00BAD5;
margin: 20px 0px;">Healplace is a<br> healing platform.</h2>
              <h2 class="headings text-left" style="color:#00B2D3" [innerHtml]="aboutUsDynamicObj?.section4Subheading">
              </h2> <br>
              <h4 style="font-style: Bold;
          font-size: 16px;
          position: static;
          width: 480px;
          height: 20px;
          left: 0px;
          top: 0px;
          font-family: FF Mark Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 20px 0px;">Short title description</h4>



              <p style="position: static;
width: 360px;
height: 165px;
left: 0px;
top: 40px;


font-family: FF Mark Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                elit, sed do eiusmod tempor incididunt ut labore et<br>
                dolore magna aliqua. Ut enim ad minim veniam, quis<br>
                nostrud exercitation ullamco laboris nisi ut aliquip ex<br>
                ea commodo consequat.<br>

                <br>
                <br>
                Ut enim ad minim veniam, quis nostrud exercitation<br>
                ullamco laboris nisi ut aliquip ex ea commodo <br>
                consequat.
              </p>


              <div class="row justify-content">
                <button type="button" [routerLink]="['/homepage/browse-practitioner']"
                  class="btn-block btn btn-warning btn-rounded" style="display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color:#074D63;
            font-size: 16px;
            position: static;
            width: 240px;
            height: 60px;
            left: 0px;
            top: 455px;
            background: #FBD036;
            box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
            border-radius: 20px;
            flex: none;
            order: 2;
            flex-grow: 0;
            border: 0;
            margin: 60px 0px;">
                  &nbsp; Join Now <span class="pl-2 pr-2">  <i class=" fa fa-arrow-right"></i></span>
                </button>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-2">
                  <div class="social-source text-center">
                    <div class="avatar-xs mx-auto mb-3">

                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <img class="" src="assets/images/yogpurush.png" style="    position: absolute;
              top: 0.18%;
              bottom: 85.38%;
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 20%;
              border-radius: 60px;
              right: 100%;">
                  <p class="font-weight-bold" [innerHtml]="aboutUsDynamicObj?.step1"></p>
                  <h4 style="
              width: 385.6px;
              height: 28px;
              left: 96.4px;
              top: 0px;
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              color: #000000;">1. First step</h4>
                  <p style="width: 386px;
              height: 92px;
              left: 96px;
              top: 34px;
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="social-source text-center">
                    <div class="avatar-xs mx-auto mb-3">

                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <img class="" src="assets/images/yogpurush.png" style="position: absolute;
              top: 0.18%;
              bottom: 85.38%;
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 20%;
              border-radius: 60px;
              right: 100%;">
                  <p class="font-weight-bold" [innerHtml]="aboutUsDynamicObj?.step2"></p>

                  <h4 style="width: 385.6px;
              height: 28px;
              left: 96.4px;
              top: 146px;
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 17px;
              line-height: 22px;
              color: #000000;">1. Second step</h4>
                  <p style="width: 386px;
              height: 92px;
              left: 96px;
              top: 180px;
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>


                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="social-source text-center">
                    <div class="avatar-xs mx-auto mb-3">

                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <img class="" src="assets/images/yogpurush.png" style="position: absolute;
              top: 0.18%;
              bottom: 85.38%;
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 20%;
              border-radius: 60px;
              right: 100%;">
                  <p class="font-weight-bold" [innerHtml]="aboutUsDynamicObj?.step3"></p>
                  <h4 style="width: 385.6px;
              height: 28px;
              left: 96.4px;
              top: 292px;
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 17px;
              line-height: 22px;
              color: #000000;">1. Third step</h4>
                  <p style="
              width: 386px;
              height: 92px;
              left: 96px;
              top: 326px;
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>


                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="social-source text-center">
                    <div class="avatar-xs mx-auto mb-3">

                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <img class="" src="assets/images/yogpurush.png" style="position: absolute;
              top: 0.18%;
              bottom: 85.38%;
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 20%;
              border-radius: 60px;
              right: 100%;">
                  <p class="font-weight-bold" [innerHtml]="aboutUsDynamicObj?.step4"></p>


                  <h4 style="
              width: 385.6px;
              height: 28px;
              left: 96.4px;
              top: 438px;
              
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 17px;
              line-height: 22px;
              color: #000000;">1. Fourth step</h4>
                  <p style="
              width: 386px;
              height: 92px;
              left: 96px;
              top: 472px;
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <br><br>
    <h2 class="text-center;" style="position: static;
height: 90px;
font-family: healspace font !important;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 45px;
text-align: center;
color: #00BAD5;
margin: 20px 0px;"> Healplace is the healing<br>
      platform for you!</h2>

    <div class="row" style="margin-left: 80px;margin-top: 80px">

      <div class="col-sm">
        <img class="" src="assets/images/slogan.png" style="height: 61px;
 width: 61px;
 left: 647px;
 top: 290px;
 border-radius: 0px;
">
      </div>



      <div class="col-sm">

        <img class="" src="assets/images/glass.png" style="height: 77px;
 width: 77px;
 left: 647px;
 top: 290px;
 border-radius: 0px;
 ">

      </div>

      <div class="col-sm">

        <img class="" src="assets/images/jhondoe.png" style="height: 143px;
width: 142px;
left: 647px;
top: 290px;
border-radius: 0px;
">

      </div>



      <div class="col-sm">

        <img class="" src="assets/images/slogan1.png" style="height: 77px;
width: 77px;
left: 647px;
top: 290px;
border-radius: 0px;
">

      </div>
      <div class="col-sm">

        <img class="" src="assets/images/slogan2.png" style="height: 60px;
                  width: 61px;left: 647px;top: 290px;border-radius: 0px;">

      </div>



    </div>
    <div class="text-center">
      <h2 style="margin-top: 40px;
      font-family: FF Mark Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #000000;">John Doe</h2>

      <p style="    font-family: FF Mark Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
        eiusmod tempor incididunt ut labore et dolore magna.</p>

    </div>

    <section style="padding-top:120px;">
      <div class="row">
        <div class="col-12">
          <div class="about-bg-second">
            <p class="pcontent-about">
              Lorem ipsum dolor sit amet eam quas malorum <br>accusam
            </p>
            <p class="pcontent-about-child">
              Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad,
              nam no suscipit<br> quaerendum. At nam minimum ponderum. Est audiam animal molestiae te.
            </p>
            <div class="email" style="position: relative;">
              <input type="email" placeholder="e-mail address" class="email-custom form-control">
            </div>
            <button class="button button4" style="position: absolute;top: 277px;right: 530px;">Submit</button>
            <div class="mt-4">
              <h4 style="color:#303030; font-size: 12px;">By
                clicking “Primary
                action” you accepting ipsum dolor sit amet, sit ea brute <br>mediocritatem, eu sed
                aliquam scripserit
                dissentiunt.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


</div>


<app-public-footer></app-public-footer>